{% extends 'base.html.twig' %}

{% block header_img %}{% endblock %}

{% block header_title %}<h1>Erreur 404: page non trouvée.</h1>{% endblock %}

{% block body %}
    Nous sommes désolés. La page demandée n'a pu être trouvée.
{% endblock %}
