{% extends 'base.html.twig' %}

{% block header_img %}{% endblock %}

{% block header_title %}<h1>Erreur 500: Erreur interne du serveur !</h1>{% endblock %}

{% block body %}
    Erreur serveur
{% endblock %}
