{% extends 'base.html.twig' %}

{% block header_img %}{% endblock %}

{% block header_title %}<h1>Erreur 403: acc&egrave;s refus&eacute;.</h1>{% endblock %}

{% block body %}
Vous n'avez pas les droits requis pour acc&eacute;der &agrave; cette page.
{% endblock %}
