{% extends 'base.html.twig' %}

{% block header_img %}{% endblock %}

{% block header_title %}<h1>Erreur 403: accès refusé.</h1>{% endblock %}

{% block body %}
Vous n'avez pas les droits requis pour accéder à cette page.
{% endblock %}
